*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.portada{
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 400px;
    width: 100%;

    /* .img-resto{
        width: 100%;
        background-color: blue;
    } */

    img{
        width: 100%;
        height: 100%;
    }
}

main{
    background-color: #48783e;
    height: 100%;

    h3{
        height: 20px;
        width: 70%;
        color: black;
        font-size: 30px;
        padding: 20px;
        margin-left: 40px;
    }

    .puntu_resto{
        position: absolute;
        height: 40px;
        width: 10%;
        background-color: #79ab52;
        font-size: 22px;
        display: grid;
        place-items: center;
        left: 80%;
        top: 410px;
        border-radius: 10px 0;
        box-shadow: 0 0 15px -2px  black;
    }

    .descri{
        height: 30px;
        width: 80%;
        /* background-color: blue; */
        margin-top: 100px;

        p{
            margin: 60px;
        }
    }

    p{
        height: 30px;
        width: 80%;
        margin-top: 130px;
        margin-left: 60px;
    }

    .linea{
        height: 1px;
        background-color: grey;
        width: 95%;
        margin-left: 3%;
    }

    .carrito{
        margin-top: 40px;
        margin-left: 3%;


        .agregar{
            background-color: #1e552c;
            width: 15%;
            height: 35px;
            margin-left: 1%;

            .fa-minus{
                margin-top: 10px;
                margin-left: 15%;
            }

            .text{
                margin-left: 5%;
            }

            .fa-plus{
                margin-left: 30%;
                margin-top: -100px;

            }
        }

        .btn-success{
            margin-left: 18%;
            width: 80%;
            margin-top: -58px;
            background-color: #1e552c;
        }
    }

}