*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    min-height: 100dvh;
    width: 90%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 100%;
}

header{
    height: 400px;
    width: 100%;
    padding: 10px;


        .logo{
            display: flex;
            justify-content: space-evenly;
            width: 40%;
            color:black;
            font-size: 25pt;
        }

        .buscador {
            position: absolute;
            height: 55px;
            width: 40%;
            left: 30%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
    
            .escribir{
                position: absolute;
                display: flex;
                justify-content: space-between;
                width: 80%;
                height: 45px;
    
                
                input{
                    width: 100%;
                    border-radius: 20px 0 0 20px;
                }
    
                ::placeholder{
                    color: black;
                    text-align: center;
                    font-size: 20px;
                }
            }
    
            .buscar{
                width: 20%;
                height: 45px;
                align-items: center;
                margin-left: 80%;
                border-radius: 0 20px 20px 0;
                font-size: 15px;
            }
    
            /* input (usar corchete)yye=submit */
                
        }

        .categorias{
            height: 50%;
            width: 100%;
            padding: 3%;
            margin-top: 150px;
            display: flex;
            gap: 20px;
    
            & .logos{
                position: absolute;
                font-size: 35px;
                left: 25%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                margin-top:15px;
    
    
                .product{
                    text-align: center;
                    padding: 10px;
                    border-radius: 20%;
                    font-size: 50px;
                }
                
                .product h3{
                    font-size: 20px;
                    font-family: 'Times New Roman', Times, serif;
                    text-transform: uppercase;
                    
                }
            }
        }
}


main{
    flex: 0 0 80%;
    width: 100%;
    padding: 0 0.5em;

    h1{
        font-size: 30px;
        margin-left: 5%;
    }
    .contenedor{
        position: relative;
        display: flex;
    }

    .contenedor {
        display: flex;
        background-color: aquamarine;
        padding: 2px;
        width: 50%;
        height: 150px;
        overflow: hidden;
        /* flex-wrap: wrap;
        gap: 1em;
        margin-top: 25px; */

        .lugar{
            /* border: 1px solid #ccc;
            border-radius: 8px;
            flex: 1 0 200px;
            max-width: 230px;
             text-align: center; 
            color: rgb(73, 73, 73);
            height: 400px;
            display: flex;
            flex-direction: column; */

            /* .imagen{
                width: 100%;
                height: 350px;
                /* margin-left:5%; 
            } */

            .img{
                width: 100%;
                height: 150px;
                border-radius: 30px;
            }

            h3{
                color: black;
                font-size: 25px;
                margin-left: 15%;
                margin-top: 10px;

                a{
                    color: black;
                }
            }

            h4{
                color: black;
                margin-left: 15%;
            }
        }
    }
}

/* @media (orientation: landscape){

    header{
        .portada{
            flex-direction: row;
            flex-wrap: wrap;
            
            .logos .buscador{
                flex: 0 0 calc(50% - 10px);
            }
        }
    }

    main {
        .lugares{
            flex-direction: row;
            flex-wrap: wrap;

            .lugar{
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; 
                flex: 0 0 calc(50% - 10px);

            }
        }
    } 
} */