*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --staat-font: "Staatliches", sans-serif;
    --manrope-font: "Manrope", sans-serif;
    --fondo-degradado: linear-gradient(90deg, lightblue 0%, black 100%);
    --negro90: rgba(33, 33, 33);
}


body {
    height: 100vh;
    margin-left: 30%;
    background: var(--fondo-degradado);
}

/* .contenedor{
    background-color: brown;
    /* height: 100%;
    width: 70%; */
    /* margin: auto;
    width: 80%;
    min-height: 190vh; */
    /*overflow-y: scroll; PERMITE QUE AQUELLOS ELEMENTOS QUE DESBORDEN
    DEL CONTENEDOR PUEDAN SER VISUALIZADOS CON LA BARRA DE 
    DESPLAZAMIENTO */
    /* background-color: #361e12 ; */
    /* padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    order: 0;
}

.carta{
    width: 80%;
    height: 70px;
    background-color:blueviolet;  */

.contenedor{
    border: solid 9px black;
    /* /* height: 100%;
    width: 70%; */
    /* margin: auto; */
    width: 40%;
    min-height: 90vh;
    border-radius: 30px;
    
}

header{
    height: 50%;
    width: 100%;
    padding: 5px;
    margin-left: -1%;     

        img{
            height: 158px;
            width: 104%;
            margin-left: -1%;
            margin-top: -5px;
            border-radius: 15px 15px 0 0;
        }

        .linea{
            gap: 20px;
            margin-top: -2%;
            height: 8px;
            width: 99%;
            margin-left: 2px;
            background-color:white;
        }
}

main{
    height: 325px;
    width: 100%;
    padding: 5px;
    margin-left: 0%;
    margin-top: -5px;
    background-color: rgb(202, 124, 189);
    
    /* h3{
        font-size: 30px;
    } */

    .info{
        img{
            margin-top: -80px;
            margin-left: 35%;
            width: 120px;
            height: 110px;
            margin-bottom: 5px;
            border-radius: 100%;
        }

        .alumno{
            margin-top: 5%;
            margin-left: 20%;
            font-size: 15px;

            p{
                font-size: 13px;
            }

            .profesion{
                margin-top: 10%;
                font-size: 15px;
            }

            .año{
                margin-top: 5%;
                position: absolute;
                font-size: 15px;
                left: 34%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 20%;

                .product{
                    /* /* left: 5%; */
                    text-align: center;
                    /* padding: 10px; */
                }

            }
        }
    }
}

footer{  
    height: 100px;
        img{
            height: 95px;
            width: 100%;
            margin-left: 0%;
            margin-top: -1px;  
            border-radius: 0 0 15px 15px;
        }

        .linea{
            gap: 20px;
            margin-top: -2%;
            height: 8px;
            width: 100%;
            background-color:white;
        }

        .btn{
            position: absolute;
            align-items: center;
            left: 39%;
            background-color:rgb(202, 124, 189);
            color: white;
            bottom: 80px;
            font-size: 15px;
            width: 10%;
            height: 30px;
            padding: 0.5em 0.9em;
            text-transform: uppercase;
        }

        .btn a{
            text-decoration: none;
            color: white;
        }
    }

@media (orientation: landscape){

    header{
        .hea{
            flex-direction: row;
            flex-wrap: wrap;
            
            .fondo .linea{
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; 
                flex: 0 0 calc(50% - 10px);
            }
        }
    }

    main {
        .info{
            flex-direction: row;
            flex-wrap: wrap;

            .alumno .foto-alum .profesion .año .product{
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; 
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }
    }

    footer{
        .section{
            flex-direction: row;
            flex-wrap: wrap;

            .linea .fondo .btn .a{
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; 
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }
    }
}
