*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.portada{
    width: 100%;
    min-height: 130vh;
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 10%;
    width: 100%;
    background-color:#79ab52;
    display: flex;
 
    .botonera{
        font-size: 30pt;
        color: black;
        /* padding: 10px; */
        margin-left: 3%;

        a{
            color: black;
        }
    }

    .logo{
        color:black;
        font-size: 30px;
        text-align: center;
        padding: 10px;
        margin-left: 34%;
    }
    
}


main{
    height: 40% auto;
    width: 100%;
    padding: 5px;

    
    h3{
        margin-top: 5px;
        font-size: 30px;
        margin-left: 40%;
        /* top: 10px; */
        /* height: 1px;
        width: 50%; */
    }

    .categoria{
        height: 40px;
        font-size: 130px;
        margin-left: 43%;
        margin-top: -75px;
        color: #79ab52;
    }

    .cate{
        height: 100%;
        width: 100%;
        margin-left: 1%;
        /* display: flex;
        background-color: aqua; */

            .resultados{
                gap: 50px;
                width: 100%;
                height: 100%;
                display: flex;
                /* justify-content: space-between; */
    
                .resto{

                    height: 220px;
                    width: 90%;
                    position: relative;
                    background-color: #123d20;
                    color: black;
                    left: 5%;
    
                    .imagen-resto{
                        width: 40%;
                        height: 220px;
                    }
                
                    img{
                        width: 100%;
                        height: 100%;
                    }

                    .puntu_resto{
                        position: absolute;
                        height: 40px;
                        width: 10%;
                        background-color:#48783e;
                        font-size: 22px;
                        display: grid;
                        place-items: center;
                        left: 35%;
                        top: 55px;
                        border-radius: 10px 0;
                        box-shadow: 0 0 15px -2px  black;
                    }
    
                    h3{
                        width: 50%;
                        font-size: 30px;
                        padding: 10px;
                        margin-left: 50%;
                        margin-top: -170px
                    }
    
                    p{
                        width: 50%;
                        font-size: 20px;
                        margin-left: 50%;
                    }

                    a{
                        width: 40%;
                        font-size: 20px;
                        margin-left: 50%;
                        align-items: center;
                        color: black;
                    }
    
                    .estrellas{
                        width: 30%;
                        font-size: 17px;
                        background-color: chartreuse;
                    }
                }
            }
        }
    }
 

    .final{
        width: 100%;
        height: 50px;
        margin-top: 10px;
        background-color: #48783e ;
        border-color:#48783e ;

        a{
            color: white;
            height: 100%;
            background-color: #48783e;
        }

        .btnradio1{
            background-color: #48783e;
            
        }
    
        .btn-group{
            width: 100%;
            height: 100%;
            align-items: center;
            color: black;
            background-color: #48783e ;
        }
    
        a.btn.btn-outline-primary{
            color: white;
            background-color: #48783e;
            height: 100%;
            align-items: center;
            
        }
    
    
    }


@media (orientation: landscape){
 
    header{
        flex-direction: row;
        flex-wrap: wrap;
            
        /* .comidas{
            flex: 0 0 calc(50% - 10px);
        } */
    }

    main {
        .cate{
            flex-direction: row;
            flex-wrap: wrap;

            .resultados{
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%;  */
                flex: 0 0 calc(50% - 10px);
                /* background-color: yellow; */
            }
        }
    }
} 
